# Lecture 1.3: Data Frames & Graphics

## Data Frames  

* Data frames provide a way of grouping a number of related variables into a single data object.  

* The function 'data.frame' takes a number of vectors and/or factors and returns a single object containing all the variables

* Data frames are stored as a list of variables

In [ ]:
gender = factor(rep(c("female", "male"), c(4, 4)))
hgt = c(165, 176, 171, 177, 176, 193, 180, 193)
classinfo = data.frame(gender, hgt)
classinfo

In [ ]:
head(classinfo)

In [ ]:
tail(classinfo)

In [ ]:
# Summarize the data

summary(classinfo)

In [ ]:
# To find the documentation of a function

?data.frame

In [ ]:
# To get a reminder of the arguments we need to pass in

args(data.frame)

In [ ]:
# To see examples using the function

example(data.frame)

### Factors  

* In R, categorical variables are typically represented as 'factors'  

* The function 'factor' is used to create factors

* The categories are defined as 'levels'; by default, the levels are sorted into ascending order

* If the categorical variable is ordered, we create a ordered factor using 'ordered'

In [ ]:
# Create a factor to represent gender

gender = factor(rep(c("female", "male"), c(4, 4)))
print(gender)

In [ ]:
# You can specify the order of the levels

gender = factor(rep(c("female", "male"), c(4, 4)),
                levels = c("male", "female"))
print(gender)

In [ ]:
# To obtains the levels/ categories of the data

levels(gender)

In [ ]:
# Create an ordered factor

size = ordered(c("large", "medium", "medium",
                 "small", "medium", "large"),
               levels = c("small", "medium",
                          "large"))
print(size)

In [ ]:
# To check if a variable is a factor

is.factor(gender)

In [ ]:
is.factor(size)

In [ ]:
is.ordered(gender)

In [ ]:
is.ordered(size)

### Tabulation 

* We can create frequency tables based on the number of times each level occurs

In [ ]:
table(gender)

* 'table' can also be used to create contingency tables when there are two or more factors

### Summary by Factor Levels

In [ ]:
tapply(hgt, gender, mean)

In [ ]:
?tapply

### Subsetting a Data Frame

In [ ]:
classinfo$hgt

In [ ]:
classinfo$gender

In [ ]:
tapply(classinfo$hgt, classinfo$gender, mean)

In [ ]:
# To save the trouble typing out the table name 
with(classinfo, tapply(hgt, gender, mean))

In [ ]:
# Extract the subset of males who are taller than 190cm
mt = subset(classinfo, gender == "male" & hgt > 190)
mt

In [ ]:
# We can treat it as a matrix, but this should be AVOIDED!
classinfo[c(1,3,5,7), ]

In [ ]:
# We can treat it as a matrix, but this should be AVOIDED!
classinfo[,1]

### Transform Variables in a Data Frame

In [ ]:
nclass = transform(classinfo, hgt2 = hgt^2)
nclass

In [ ]:
# Select cases where hgt > 175 for the variables hgt2 and gender
subset(nclass, hgt > 175, select = c(hgt2, gender))

### Sorting Data Frames

In [ ]:
o = order(classinfo$hgt)
classinfo[o,]

### Reading Data

* read.table
* read.csv
* read.delim

**Exercise**: There are many interesting built-in datasets in the 'datasets' package as well as other packages, find a dataset you like and explore that dataset.

* Use 'data()' to get the list of datasets

In [ ]:
# To get the list of built-in datasets in the 'datasets' package
data()

In [ ]:
# To get more information about a dataset
help(AirPassengers)

In [ ]:
summary(AirPassengers)

In [ ]:
# To see a list of dataset in another library
data(package = "MASS")

In [ ]:
# To access a dataset in MASS
data(Cars93, package = "MASS")
summary(Cars93)

## Graphics

* R has a number of functions that produce graphics

* Some functions draw an entire graph with a single function call; they are called high-level graphics functions

* Other graphics functions are used to build up graphs incrementally; they are called low-level graphics functions

### The 'plot' Function 

* The most basic plotting function

* It takes a set of x and y coordinates and produces a plot based on those coordinates

* The simplest plot is a simple scatterplot, but optional arguments make it possible to produce a variety of different plot styles

In [ ]:
xvals = 1:100
yvals = rnorm(100)
plot(xvals, yvals)

**Exercise**: Plot the data you were exploring in the previous exercise.

In [ ]:
# Customize labels

plot(xvals, yvals,
     main = "An Overall Title",
     xlab = "A Label for the X-Axis",
     ylab = "A Label for the Y-Axis",
     sub = "A Plot Subtitle")

**Exercise**: Label your plot.

In [ ]:
# Customize plotting symbol and colors

cols = sample(c("red", "green4", "blue"),
              length(xvals), replace = TRUE)
plot(xvals, yvals, pch = 16, col = cols)

**Exercise**: Plot your data with different plotting symbols and colors.

### Different Types of Plot  

* By default, the plot function produces a scatterplot

* The optional 'type' argument makes it possible to produce other types of plot   

* The plot types are:
    * "p" points (i.e. a scatterplot)
    * "l" lines (i.e. a line plot)
    * "b" both (points and lines)
    * "c" just the lines from type="b"
    * "o" points and lines overplotted
    * "h" high-density needles
    * "s" step function, horizontal step first
    * "S" step function, vertical step first
    * "n" nothing (i.e. no plot contents)

In [ ]:
plot(xvals, yvals, type = "b")

**Exercise**: Try out all the different plotting types and see what they look like.

### Line Types  

* The line type can be specified with an argument of the form 'lty=type'  

* One way to specify the line type is to use these names: "solid", "dashed", "dotted", "dotdash", "longdash", "twodash"

* Line thickness can be set with 'lwd=w'

In [ ]:
plot(rnorm(10), type="l",
     lwd=4, lty="dotted", col="blue",
     main = "A Thick Dotted Line")

### Controlling Axis Limits

* The plot arguments xlim and ylim supply two values which are use to determine the limits on the x and y axes

* By default the range between the limits is expanded by 8% so that points near the edge of the plot do not overlap the edges

* This can be changed by specifying 'xaxs="i"' or 'yaxs="i"' to prevent the expansion

In [ ]:
plot(rnorm(10), type="l",
     ylim = c(-3, 3),
     lwd=4, lty="1111", col="blue",
     main = "A Thick Dotted Line")

### Adding to Plots  

* Once a plot is created, we can add additional graphical information with a variety of low-level functions
    * 'points': draw points
    * 'lines': draw connected line segments
    * 'abline': add a straight line to a plot
    * 'segments': draw disconnected line segments
    * 'arrows': add arrows to a plot
    * 'rect': add rectangles to a plot
    * 'polygon': add polygons to a plot
    * 'text': add text to a plot

In [ ]:
plot(rnorm(10), type="l",
     ylim = c(-3, 3),
     lwd=4, lty="1111", col="blue",
     main = "A Thick Dotted Line")
lines(rnorm(10), type = "l",
      lwd = 4, lty="1232", col = "green4")

### Boxplot

In [ ]:
# randomly generate 5 groups of 20 observations each
groups = rep(1:5, each = 20)
means = c(5, 7, 6, 9, 8)
y = rnorm(100) + rep(means, each = 20)

In [ ]:
# Plot side-by-side boxplots
boxplot(y ~ groups, main = "Simulated Grouped Data")

* A customized alternative

In [ ]:
ybar = sapply(split(y, groups), mean)
ysd = sapply(split(y, groups), sd)
plot(groups, y, xlim = c(1, 5.25),
     xlab = "Group", ylab = "Values",
     main = "Data with Means and Error Bars")
points(1:5 + .25, ybar, pch=19)
arrows(1:5 + .25, ybar - 2 * ysd/sqrt(20),
       1:5 + .25, ybar + 2 * ysd/sqrt(20),
       code = 3, angle = 90, length = .1)

### Area Fill Primitives

* The graphical primitives 'rect' and 'polygon' can be used to draw coloured areas

In [ ]:
# Create 10 rectangles, going bottom to top
plot(c(-10, 10), c(0, 10), type = "n",
     ylab = "", xlab = "")
xl = -(10:1)
xr = 10:1
yb = 0:9
yt = 1:10
rect(xl, yb, xr, yt, col = "tan")

In [ ]:
# Drop the axes from the plot

plot(c(-10, 10), c(0, 10), type = "n",
     axes = FALSE,
     ylab = "", xlab = "")
rect(-(10:1), 0:9, 10:1, 1:10, col = "tan")

**Exercise**: Produce a plot that looks like this:  

<img src="images/rect.png" width="700">

In [ ]:
# Create simple polygon
plot(c(-10, 10), c(0, 10), type = "n",
     axes = FALSE,
     ylab = "", xlab = "")
polygon(c(-10, 0, 10), c(0, 10, 0), col = "lightgreen")

**Exercise**: try to create the polygon below.  

<img src="images/polygon.png" width="700">

### Another example using 'polygon'

In [ ]:
# Fill the area under lines
x = runif(10)
plot(x, type="l")
polygon(c(1, 1:10, 10),
        c(0, x, 0), col = "lightgoldenrod")

### Pie Chart

In [ ]:
# An example of making a pie chart

# Create a simple set of data
meat = c(8, 10, 16, 25, 41)
names(meat) = c("Lamb",
                "Mutton",
                "Pigmeat",
                "Poultry",
                "Beef")

# A special way of specifying colors
# by the angle (in degrees) around the
# colour circle (0 = red, 60 = yellow, 
# 120 = green, 180 = cyan, 240 = blue, 
# 300 = magenta).
cols = hcl(seq(0, 240, by = 60))
pie(meat,
    main = "Meat Consumption",
    col = cols)

### Bar Chart

In [ ]:
barplot(meat, ylim = c(0, 50),
        col = hcl(0),
        main = "Meat Consumption",
        ylab = "Percent in Category")

In [ ]:
# We can make it horizontal

barplot(meat, xlim = c(0, 50),
        col = hcl(120),
        main = "Meat Consumption",
        xlab = "Percent in Category",
        horiz = TRUE)

### Dotchart

In [ ]:
dotchart(meat, xlim = range(0, meat),
         main = "Meat Consumption",
         xlab = "Percent in Category")

**Exercise**: 

1) The following data shows the size of the New Zealand population, broken down by gender over the period 1926–2014. Create a data frame to group all the data together.

In [ ]:
year = 1926:2014

femalepop =
    c(699200, 709900, 718700, 728300, 738900, 747100, 753800, 
      760800, 766400, 773000, 780300, 788700, 796600, 808800, 
      820600, 832000, 842700, 851200, 862700, 872300, 889900, 
      907400, 924600, 942600, 960400, 981000, 1006700, 1031600, 
      1053000, 1075700, 1098000, 1125000, 1150400, 1173700, 1195700, 
      1223300, 1251700, 1278500, 1304000, 1327100, 1351000, 1371400, 
      1387600, 1404200, 1426700, 1451100, 1481900, 1514900, 1548000, 
      1576100, 1585300, 1588000, 1589300, 1590100, 1594900, 1607600, 
      1624900, 1644100, 1660800, 1666300, 1674300, 1689200, 1695500, 
      1710100, 1728500, 1786000, 1803100, 1825400, 1850400, 1878700, 
      1906900, 1929700, 1945900, 1959500, 1972600, 1995700, 2032900, 
      2069800, 2098100, 2123300, 2149500, 2169000, 2187000, 2213000, 
      2234700, 2248300, 2262000, 2285600, 2320300)

malepop =
    c(730500, 740500, 748600, 757800, 767900, 775600, 780900, 
      786400, 792000, 796700, 804300, 813100, 821700, 832800, 
      813000, 799200, 793700, 790800, 813600, 855500, 891300, 
      910100, 929300, 949500, 967300, 989500, 1017900, 1043100, 
      1065400, 1089100, 1111200, 1137800, 1165600, 1186000, 1207900, 
      1238000, 1264100, 1288400, 1313000, 1336700, 1360300, 1373600, 
      1385400, 1399800, 1425400, 1447400, 1477800, 1510000, 1543900, 
      1567600, 1578100, 1578400, 1575900, 1573800, 1581500, 1586900, 
      1601900, 1620700, 1632200, 1636800, 1639200, 1652900, 1649700, 
      1659700, 1681900, 1730000, 1749100, 1772500, 1797800, 1828000, 
      1855400, 1872900, 1883300, 1891700, 1900400, 1920500, 1956700, 
      1991800, 2016200, 2037700, 2059600, 2076800, 2093300, 2119200, 
      2139200, 2151100, 2163800, 2190200, 2234200)

2) The following plot shows the “excess number of females per hundred males” in the New
Zealand population. Write some R code that produces this plot as close to exactly as it appears in this plot
as you can get it.  

<img src="images/nzpop.png" width="700">